<!DOCTYPE html>

<html>

<head>
  <title>Weather</title>
  <link rel="icon" href="/img/cloud.png">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div class="main-content"> 
    {{>header}}
    <p class="intro"> View Current Weather Stats For Your Loaction <p>
    <form>
      <input placeholder="Location: City, state ">
      <button >Search</button>
    </form>
    <h4 id="message-1"></h4>
    <p id="message-2"></p>
    <p id="message-3"></p>
    <p id="message-4"></p>
    <p id="message-5"></p>



  </div>

  {{>footer}}
  <script src='./js/app.js'></script>

</body>

</html>